*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1100px;
    margin: 0 auto;
    min-height: 100px;
    margin-top:50px;
}
.card{
    border:1px solid black;
    height: 270px;
}